build --cxxopt='-std=c++20'
build --cxxopt='-O3'
build --cxxopt='-fdiagnostics-color=always'

# Required for bazel_clang_tidy to operate as expected
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report
